			#tabuleiro {
				/*margin: 15px;*/
				top: -60px;
				left: -16px;
				position: relative;
				background-color: yellow;
				user-select: none;
			}

			#pad {
  				width: 100%;
  				height: 100%;
  				border: 0;
  				position: absolute;
  				z-index: 30;
			}

			#canvasTabuleiro {
  				width: 100%;
  				height: 100%;
  				z-index: 30;
  				/*background: rgba(0,233,23,0.1); */
  				position: absolute;
  				pointer-events: none;
  				border: 0;
			}

			#tabuleiro .linha {
				/*width: 6600px;
				height: 66px;*/
				background-color: white;
			}

			 .celula {
				width: 64px;
				height: 64px;
				box-sizing: border-box;
				float: left;
				background-color: white;
				text-align: center; 
				position: relative;
				background-size: cover;
			}
			 .celula[data-type='grass'] {
				background-image:  url('tileset/grass.jpg');
			}
			 .celula[data-type='floor'] {
				background-image:  url('tileset/floor1.png');
			}
			 .celula[data-type='ground'] {
				background-image:  url('tileset/ground.png');
			}
			 .celula[data-type='street'] {
				background-image:  url('tileset/street3.png');
			}

			#tabuleiro.grid .celula {
				border-right: 1px solid rgba(0,0,0,1);
				border-bottom: 1px solid rgba(0,0,0,1);
			}

			 .celula .parede{
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: brown;
				z-index: 10;
				box-sizing: border-box;
			}
			 .celula .parede.west{
				width: 8%;
				left: 0px;
			}
			 .celula .parede.east{
				width: 8%;
				right: 0px;
			}
			 .celula .parede.north{
				height: 8%;
				top: 0px;
			}
			 .celula .parede.south{
				height: 8%;
				bottom: 0px;
			}

			#tabuleiro .celula .parede.naMira{
				background-color: rgba(255,0,0,0.5);
			}


			#tabuleiro .celula.caminhoSimulado:after,
			#tabuleiro .celula.caminhoParcial:after, 
			#tabuleiro .celula.caminhoMira:after {
			  position: absolute;
			  content:"";
			  top:0;
			  left:0;
			  width:100%;
			  height:100%;
			}

			#tabuleiro .celula.caminhoSimulado:after {
			 	background-color: rgba(115, 115, 115,0.5);
			}

			#tabuleiro .celula.caminhoParcial:after {
				background-color: rgba(195, 195, 195,0.6);
			}

			#tabuleiro .celula.caminhoMira:after {
				background-color: rgba(255, 100, 100,0.6);
			}

			#tabuleiro .celula span.passo {
 				vertical-align: middle;
  				display: inline-flex;
  				pointer-events: none;
  				position: absolute;
  				top: 35%;
				color: grey;
				filter: drop-shadow(1px 0px 0 white) 
						drop-shadow(-1px 0px 0 white)
						drop-shadow(0px 1px 0 white) 
						drop-shadow(0px -1px 0 white);
			}
			#tabuleiro .celula span.percentPassagem {
 				vertical-align: middle;
  				pointer-events: none;
  				position: relative;
  				top: 16%;
  				color: white;
  				font-size: 100%;
				filter: drop-shadow(1px 0px 0 grey) 
						drop-shadow(-1px 0px 0 grey)
						drop-shadow(0px 1px 0 grey) 
						drop-shadow(0px -1px 0 grey);
			}
			
			#tabuleiro .celula span.passo[data-parcial=true] {
				color: white;
				filter: drop-shadow(1px 0px 0 grey) 
						drop-shadow(-1px 0px 0 grey)
						drop-shadow(0px 1px 0 grey) 
						drop-shadow(0px -1px 0 grey);
			}


			#tabuleiro .celula .vehi,
			#tabuleiro .celula .scenario {
  				position: absolute;
				background-size: cover;
  				width: 100%;
  				height: 100%;
  				z-index: 5;
    			--vehiColor: white;
				filter: drop-shadow(2px 0px 0 var(--vehiColor)) 
						drop-shadow(-1px 0px 0 var(--vehiColor))
						drop-shadow(0px 2px 0 var(--vehiColor)) 
						drop-shadow(0px -1px 0 var(--vehiColor));
			}
			#tabuleiro .celula .scenario:not(:hover) {
				filter: none;
			}
			#tabuleiro .celula .vehi:hover,
			#tabuleiro .celula .scenario:hover {
    			--vehiColor: yellow;
			}

			#tabuleiro .celula .vehi[data-cells-w='2'], 
			#tabuleiro .celula .scenario[data-cells-w='2']{ 
  				width: 200%;
			}
			#tabuleiro .celula .vehi[data-cells-w='3'] { 
  				width: 300%;
			}
			#tabuleiro .celula .vehi[data-cells-h='2'], 
			#tabuleiro .celula .scenario[data-cells-w='2']{ 
  				height: 200%;
			}
			#tabuleiro .celula .vehi[data-cells-h='3'] { 
  				height: 300%;
			}
			.vehi.rolls {
				background-image: url('vehi/rolls.png'); 
			}
			.scenario.tree1 {
				background-image: url('scenario/tree1.png'); 
			}
			.scenario.tree2 {
				background-image: url('scenario/tree2.png'); 
			}
			.scenario.tree3 {
				background-image: url('scenario/tree3.png'); 
			}


			#tabuleiro .celula .item {
  				position: absolute;
				background-size: cover;
  				width: 100%;
  				height: 100%;
  				z-index: 2;
    			--item-color: white;
				filter: drop-shadow(2px 0px 0 var(--item-color)) 
						drop-shadow(-1px 0px 0 var(--item-color))
						drop-shadow(0px 2px 0 var(--item-color)) 
						drop-shadow(0px -1px 0 var(--item-color));
			}

			#tabuleiro .celula .item:hover {
    			--item-color: yellow;
			}


			.item.ak47 {
				background-image: url('items/ak47.png'); 
			}
			.item.colt {
				background-image: url('items/colt.png'); 
			}
			.item.granade {
				background-image: url('items/granade.png');
			}
			.item.sword_case {
				background-image: url('items/sword_case.png');
			}
			.item.uzi {
				background-image: url('items/uzi.png');
			}
			.item.awp {
				background-image: url('items/awp_m.png');   
			}
			.item.deagle {
				background-image: url('items/deagle.png');
			}
			.item.machine {
				background-image: url('items/machine.png'); 
			}
			.item.sword1 {
				background-image: url('items/sword1.png');
			}
			.item.bazooka {
				background-image: url('items/bazooka.png'); 
			}
			.item.glock {
				background-image: url('items/glock.png');
			}
			.item.molotov {
				background-image: url('items/molotov.png'); 
			}
			.item.sword2 {
				background-image: url('items/sword2.png');
			}


			.celula .peca, .person{
				background-size: cover;
  				width: 100%;
  				height: 100%;
  				position: relative;
  				z-index: 4;
			}
			.person{
  				z-index: 5;
  				transition: all; /*0.2s;*/
  				pointer-events: none;
			}
			.duasCelulas .person{
  				height: 200%;
  				position: relative;
  				z-index: 6;
  				transition: all 0s;
			}
			.person.aboutToMove {
				/* transform: scale(1.1, 1.1);
				width: 110%;
				height: 110%; */
				filter: contrast(150%);

			}

			.peca[data-looking='up'] .person, .item[data-looking='up'] { 
			  	transform: rotate(0deg);
			}
			.peca[data-looking='down'] .person, .item[data-looking='down']{
			  	transform: rotate(180deg);
			}
			.peca[data-looking='left'] .person, .item[data-looking='left']{
			  	/* transform: rotate(270deg); */
			  	transform: rotate(-90deg);
			}
			.peca[data-looking='right'] .person, .item[data-looking='right']{
			  	transform: rotate(90deg);
			}


			.peca[data-looking='up'].duasCelulas .person{ 
			  	/*transform-origin: top center;*/
			  	top: -100%;
			}
			.peca[data-looking='down'].duasCelulas .person{
			  	/*transform-origin: top center;*/
			  	top: 0%;

			}
			.peca[data-looking='left'].duasCelulas .person{
			  	/*transform-origin: right center;*/
				right: 50%;
			  	top: -50%;
			}
			.peca[data-looking='right'].duasCelulas .person{
			  	/*transform-origin: left center;*/
				left: 50%;
			  	top: -50%;
			}

			.person.spiderman{
				background-image:  url('chars/spiderman_GIF.gif');
				/*filter:  grayscale(100%);*/
			}

			.person.wolverine{
				background-image:  url('chars/wolverine_128.gif');
			}

			.person.cyclops{
				background-image:  url('chars/cyclops.gif');
			}

			.person.subzero{
				background-image:  url('chars/subzero_128.gif');
			}

			.person.soldier{
				background-image:  url('chars/soldier_ninjy_idle.gif');
			}

			.garra .person.wolverine{
				background-image:  url('chars/wolverine-garra_128.gif');
				/*filter:  grayscale(100%);*/
			}

			.celula .peca.selected{
				background-color: rgba(255,255,0,0.5);
			}

			.spanCelula{
				display: none;
			}

			#tabuleiro .celula.naMira{
				background-color: rgba(255,0,0,0.5);
			}

			.peca.naMira .person{
  				transition: all 0s;
				filter: drop-shadow(2px 0px 0 red) 
						drop-shadow(-1px 0px 0 red)
						drop-shadow(0px 2px 0 red) 
						drop-shadow(0px -1px 0 red);
			}