			body { margin: 0px; display: inline-flex;
				user-select: none;}

			

			#pecasJogador, #pecasAdversario  {
				width: 852px;
				height: 66px;
				border: 1px solid gray;
				clear: left;
				background-color: #aaa;
			}
			#pecasJogador  {
				/*width: 1284px;*/

			}

			#menuEsquerdo {
				width: 230px;
				height: 580px;
				border: 1px solid gray;
				float: left; 
				background-color: #aaa;
				padding: 10px;
			}

			#menuEsquerdo #panelMouseOver{
  				color: slategrey;
 				font-family: monospace;
			}

			#molde {
				margin-right: 0px;
				width: 600px;
				height: 600px;
				border: 1px solid gray;
				overflow: hidden;
				background-color: dimgray;
				float: left;
			}

			#avisos {
				width: 430px;
				min-height: 168px;
				height: auto;
				border: 1px solid gray;
				overflow: hidden;
				margin-bottom: 0px;
				background-color: #aaa;
			}

			#acoes {
				width: 400px;
				min-height: 300px;
				height: auto;
				border: 1px solid gray;
				padding: 15px;
				overflow: hidden;
				background-color: #aaa;
				user-select: none;
			}

			#acoes img.portrait {
				width: 100px;
				height: auto;
				border: 1px solid gray;
				float: left;
				margin-right: 10px;
			}
			#acoes button {
				margin: 1px;

			}

			#controlTab {
				width: 400px;
				min-height: 204px;
				height: auto;
				border: 1px solid gray;
				padding: 15px;
				overflow: hidden;
				background-color: #aaa;
				display: inline-flex;
			}

			#controlTab .controlTabDivDireita {
				display: inline-flex;


			}

			#painelFinal {
				min-width: 200px;
				width: auto;
				height: auto;
				border: 1px solid gray;
				padding: 15px;
				overflow: hidden;
				background-color: #aaa;
			}



			#tabuleiro {
				/*margin: 15px;*/
				top: -60px;
				left: -16px;
				position: relative;
				background-color: yellow;
				user-select: none;
			}

			#pad {
  				width: 100%;
  				height: 100%;
  				border: 0;
  				position: absolute;
  				z-index: 30;
			}
			.noPointerEvents {
  				pointer-events: none;
			}

			#canvasTabuleiro {
  				width: 100%;
  				height: 100%;
  				z-index: 30;
  				/*background: rgba(0,233,23,0.1); */
  				position: absolute;
  				pointer-events: none;
  				border: 0;
			}

			#canvasMiniTab {
  				width: 202px;
  				height: 202px;
				border: 1px solid gray;
				background-color: white;
				float: left;
				margin-right: 10px;
			}
			#zoom_menos, #zoom_mais  {
				background-image: url('zoom_menos.png');
  				background-size: cover;
  				background-repeat: no-repeat;
  				position: relative;
				width: 50px;
				height: 50px;
			}
			#zoom_mais {
				background-image: url('zoom_mais.png');
				left: -20px;
			}
			span#zoomVal {
			    top: 35px;
			    left: -10px;
			    position: relative;
			    width: 28px;
			}
			#controleDirecionais {
				background-image: url('setas.png');
  				background-size: cover;
  				background-repeat: no-repeat;
  				position: relative;
				width: 100px;
				height: 100px;
			}


			#tabuleiro .linha {
				/*width: 6600px;
				height: 66px;*/
				background-color: white;
			}

			#tabuleiro .celula {
				width: 64px;
				height: 64px;
				box-sizing: border-box;
				border-right: 1px solid black;
				border-bottom: 1px solid rgba(0,0,0,1);
				float: left;
				background-color: white;
				text-align: center; 
				position: relative;
			}

			#tabuleiro .celula .parede{
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: brown;
				z-index: 10;
				box-sizing: border-box;
			}
			#tabuleiro .celula .parede.west{
				width: 16%;
				left: 0px;
			}
			#tabuleiro .celula .parede.east{
				width: 16%;
				right: 0px;
			}
			#tabuleiro .celula .parede.north{
				height: 16%;
				top: 0px;
			}
			#tabuleiro .celula .parede.south{
				height: 16%;
				bottom: 0px;
			}

			#tabuleiro .celula .parede.naMira{
				background-color: rgba(255,0,0,0.5);
			}


			#tabuleiro .celula.caminhoSimulado {
				background-color: rgba(115, 115, 115,0.5);
			}

			#tabuleiro .celula.caminhoParcial {
				background-color: rgba(195, 195, 195,0.6);
			}

			#tabuleiro .celula.caminhoMira {
				background-color: rgba(255, 100, 100,0.6);
			}

			#tabuleiro .celula span.passo {
 				vertical-align: middle;
  				display: inline-flex;
  				pointer-events: none;
  				position: absolute;
  				top: 35%;
			}
			#tabuleiro .celula span.percentPassagem {
 				vertical-align: middle;
  				pointer-events: none;
  				position: relative;
  				top: 16%;
  				color: white;
  				font-size: 100%;
			}
			
			#tabuleiro .celula span.passo[data-parcial=true] {
				color: white;
			}
			.celula .peca, .person{
				background-size: cover;
  				width: 100%;
  				height: 100%;
  				position: relative;
			}
			.person{
  				z-index: 3;
  				transition: all 1s;
  				pointer-events: none;
			}
			.duasCelulas .person{
  				height: 200%;
  				position: relative;
  				z-index: 4;
  				transition: all 0s;
			}

			.peca[data-looking='up'] .person{ 
			  	transform: rotate(0deg);
			}
			.peca[data-looking='down'] .person{
			  	transform: rotate(180deg);
			}
			.peca[data-looking='left'] .person{
			  	transform: rotate(270deg);
			}
			.peca[data-looking='right'] .person{
			  	transform: rotate(90deg);
			}


			.peca[data-looking='up'].duasCelulas .person{ 
			  	/*transform-origin: top center;*/
			  	top: -100%;
			}
			.peca[data-looking='down'].duasCelulas .person{
			  	/*transform-origin: top center;*/

			}
			.peca[data-looking='left'].duasCelulas .person{
			  	/*transform-origin: right center;*/
				right: 50%;
			  	top: -50%;
			}
			.peca[data-looking='right'].duasCelulas .person{
			  	/*transform-origin: left center;*/
				left: 50%;
			  	top: -50%;
			}

			.person.spiderman{
				background-image:  url('chars/spiderman_GIF.gif');
				/*filter:  grayscale(100%);*/
			}

			.person.wolverine{
				background-image:  url('chars/wolverine_128.gif');
			}

			.person.cyclops{
				background-image:  url('chars/cyclops.gif');
			}

			.person.subzero{
				background-image:  url('chars/subzero_128.gif');
			}

			.person.soldier{
				background-image:  url('chars/soldier_regular.gif');
			}

			.garra .person.wolverine{
				background-image:  url('chars/wolverine-garra_128.gif');
				/*filter:  grayscale(100%);*/
			}

			.celula .peca.selected{
				background-color: rgba(255,255,0,0.5);
			}

			.spanCelula{
				display: none;
			}

			#tabuleiro .celula.naMira{
				background-color: rgba(255,0,0,0.5);
			}

			.peca.naMira .person{
  				transition: all 0s;
				filter: drop-shadow(2px 0px 0 red) 
						drop-shadow(-1px 0px 0 red)
						drop-shadow(0px 2px 0 red) 
						drop-shadow(0px -1px 0 red);
			}