			

			#zoom_menos {
				background-image: url('../zoom_menos.png');
			}
			#zoom_mais {
				background-image: url('../zoom_mais.png');
			}

			#controleDirecionais {
				background-image: url('../setas.png');
			}
			.celula[data-type='grass'] {
				background-image:  url('../tileset/grass.jpg');
			}
			.celula[data-type='floor'] {
				background-image:  url('../tileset/floor1.png');
			}
			.celula[data-type='ground'] {
				background-image:  url('../tileset/ground.png');
			}
			.celula[data-type='street'] {
				background-image:  url('../tileset/street3.png');
			}

			div.pisos{
				display: flex;
			}

			div.pisos .celula {
				margin: 5px;
				border: 2px solid black;
			} 
			div.pisos .celula.selected {
				border-color: yellow;
			} 
			
			div.pisos span{
				float: left;
			}

			div.pisos span::after {
				content: "\A";
				white-space: pre;
    			display: block;
			}

			/*.item.ak47 {
				background-image: url('items/ak47.png'); 
			}
			.item.colt {
				background-image: url('items/colt.png'); 
			}
			.item.granade {
				background-image: url('items/granade.png');
			}
			.item.sword_case {
				background-image: url('items/sword_case.png');
			}
			.item.uzi {
				background-image: url('items/uzi.png');
			}
			.item.awp {
				background-image: url('items/awp_m.png');   
			}
			.item.deagle {
				background-image: url('items/deagle.png');
			}
			.item.machine {
				background-image: url('items/machine.png'); 
			}
			.item.sword1 {
				background-image: url('items/sword1.png');
			}
			.item.bazooka {
				background-image: url('items/bazooka.png'); 
			}
			.item.glock {
				background-image: url('items/glock.png');
			}
			.item.molotov {
				background-image: url('items/molotov.png'); 
			}
			.item.sword2 {
				background-image: url('items/sword2.png');
			}

			.person.spiderman{
				background-image:  url('chars/spiderman_GIF.gif');
			}

			.person.wolverine{
				background-image:  url('chars/wolverine_128.gif');
			}

			.person.cyclops{
				background-image:  url('chars/cyclops.gif');
			}

			.person.subzero{
				background-image:  url('chars/subzero_128.gif');
			}

			.person.soldier{
				background-image:  url('chars/soldier_ninjy_idle.gif');
			}

			.garra .person.wolverine{
				background-image:  url('chars/wolverine-garra_128.gif');
			}
*/